.authForm {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  width: 25rem;
  margin: auto;
}
.formControl {
  margin-top: 0.5rem !important;
}
.formActions {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  button {
    &:first-of-type {
      margin-right: 1rem;
    }
  }
}
